.inputBase {
    font-family: "Montserrat" !important;
    font-size: .9rem;
    font-weight: 400;
    flex-grow: 1;
    padding: 8px 5px 8px 10px;
    background: transparent;
    border: none !important;
    outline: none !important;
}

textarea.inputBase {
    resize: none;
}

.fieldName {
    font-family: "League_Spartan" !important;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, .7);
    display: block;
    cursor: pointer;
}

.errField {
    font-family: "Montserrat" !important;
    font-size: .8rem;
    font-weight: 500;
    font-style: italic;

    color: rgb(142, 49, 49);

    margin: 0px;
}