#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* ANIMATION -------------------------------- */
.lds-ripple {
  /* change color here */
  color: #D92525;
}

.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

/* SWEETALERT 2 */
.swal2-container {
  z-index: 9999999999;
}

.swal2-modal .swal2-title {
  font-family: 'League_Spartan';
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.swal2-modal .swal2-html-container {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.1rem;
  margin-top: 0px;
}

.swal2-modal .swal2-deny {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1rem;
  text-transform: capitalize;
}

.swal2-modal .swal2-cancel {
  font-family: 'Montserrat';
  color: black;
  background: transparent !important;
}